*
!BepInEx
!BepInEx/**
!arialuni_sdf
!doorstop_config.ini
!winhttp.dll
!README.md
!rmtranslationandlaunch.bat
!.gitignore
BepInEx/plugins/RuntimeUnityEditor
BepInEx/config/RuntimeUnityEditor.Autostart.cs
BepInEx/config/RuntimeUnityEditor.cfg